// Borrowed heavily from bootstrap

.button {
  display: inline-block;
  padding: 7px 10px 5px; // If you change this, change inputs in _forms.scss and vice-versa
  border: 1px solid $text-color;
  border-radius: 0;
  -webkit-appearance: none;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: $letter-spacing;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  background: {
    color: $body-bg;
    color: transparent;
  }
  line-height: $line-height-base;

  // &,
  // &:active,
  // &.active {
  //   &:focus,
  //   &.focus {
  //     @include tab-focus;
  //   }
  // }

  // &:hover,
  // &:focus {
  //   color: $btn-default-color;
  //   text-decoration: none;
  // }

  &.disabled,
  &[disabled] {
    color: mix($text-color, $body-bg, 20%);
    cursor: not-allowed;
  }
}

.button--inverted,
.button--secondary {
  color: $body-bg;
  background: $text-color;
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;
  text-transform: none;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
}

// Block button
// --------------------------------------------------

.button--block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.button--block + .button--block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button--block {
    width: 100%;
  }
}