.header {
  letter-spacing: $letter-spacing-large;
}

.header-logo {
  position: fixed;
  z-index: $zindex-logo;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo__img {
  width: auto;
  height: 64px;

  @media (min-width: $screen-xs-min) {
    height: 110px;
  }
}

.header-nav,
.header-nav-mobile,
.header-cart {
  position: fixed;
  top: 42px;
  z-index: $zindex-logo;

  @media (min-width: $screen-xs-min) {
    top: 60px;
  }
}

.header-nav-mobile {
  left: $body-padding-h;
}

.header-nav {
  display: none;
  left: $body-padding-h;

  nav ul {
    list-style: none;
  }

  // Add a star to the active nav item
  li {
    position: relative;
    margin-bottom: 5px;
    
    &.active {
      font-weight: bold;

      &:before {
        content: '\25A0';
        position: absolute;
        top: 1px;
        left: -15px;
        height: 7px;
        width: 7px;
        font-size: $font-size-small;
        line-height: 1;
      }
    }
  }
}

.header-cart {
  right: $body-padding-h;
}

.header-cart__text {
  display: none;
}

@media (min-width: $screen-xs-min){
  .header-cart__text {
    display: inline;
  }
  .header-nav-mobile,
  .header-cart__icon {
    display: none;
  }
  .header-nav {
    display: block;
  }
}