.header {
  position: relative;
  z-index: $zindex-header;
  letter-spacing: $letter-spacing-large;
  width: 100%;
  min-height: 1px;
  transform: translate3d(0, 0, 0); // Fore GPU acceleration to avoid flickering when adding / remove .header--fixed

  &.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header-logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo__img {
  width: auto;
  height: 64px;

  @media (min-width: $screen-sm-min) {
    height: 110px;
  }
}

.header-nav,
.header-nav-mobile,
.header-cart {
  position: absolute;
  top: 42px;

  @media (min-width: $screen-sm-min) {
    top: 60px;
  }
}

nav {
  
  // Add a star to the active nav item
  li {
    position: relative;
    margin-bottom: 5px;

    &.active {
      @media (min-width: $screen-sm-min){
        &:before {
          content: '\00d7';
          position: absolute;
          top: 2px;
          left: -15px;
          height: 7px;
          width: 7px;
          font-size: $font-size-small;
          line-height: 1;
        }
      }
      &, a {
        color: $red;
      }
    }
  }
}

.header-nav-mobile {
  left: $body-padding-h;

  nav {
    position: relative;
    margin: 40px 0 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms ease-out;
    padding: 12px;
    border: 1px solid $text-color;
    background: $body-bg;

    &:before {
      content: "";
      height: 22px;
      width: 1px;
      position: absolute;
      top: -34px;
      left: 2px;
      background-color: $text-color;
    }

    > ul {
      &,
      & > li:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: $screen-xs-max){
    &.is-open {
      nav {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 100ms ease-out;
      }
    }
  }
}

.header-nav-mobile__toggle {
  &:active,
  &:focus,
  &:hover {
    color: $link-color;
  }

  .is-open & {
    color: $link-hover-color;
  }
}

.header-nav {
  display: none;
  left: $body-padding-h;
}

.header-cart {
  right: $body-padding-h;
}

.header-cart__text {
  display: none;
}

@media (min-width: $screen-sm-min){
  .header-cart__text {
    display: inline;
  }
  .header-nav-mobile,
  .header-cart__icon {
    display: none;
  }
  .header-nav {
    display: block;
  }
}