.pagination {
  display: block;
  margin: 45px 0;
  text-align: center;

  @media (min-width: $screen-xs-min) {
    text-align: right;
  }

  @media (min-width: $screen-md-min) { // Fix it to the bottom corner like how the nav is fixed to the top corners
    position: fixed;
    bottom: 41px;
    right: $body-padding-h;
    margin: 0;
  }

  > span {
    display: inline-block;
    padding: 0 2px;
    margin: 0 2px;
  }

  .page {
    &.current {
      color: $link-hover-color;
    }
  }

  .next,
  .prev {
    font-size: $font-size-large;
    line-height: 1;
  }
}