.product-list {
  text-align: center;
  @media (min-width: $screen-sm-min){
    text-align: left;
  }
}

.product-list__product {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

.product-list__product-img {
  width: 100%;
  margin-bottom: 30px;

  .product-list__product--sold-out & {
    opacity: 0.25;
  }
}

.product-list__product-info {
  text-align: center;
}

.product-list__product-info-link {

}

.product-list__product-title {
  font-weight: bold;
  letter-spacing: $letter-spacing-large;
}

.product-list__product-price {

}

.product-list__product-swatches {
  display: block;
  margin-top: 10px;
}

// 2 Across variety - used with `wide` main column
.product-list--2x2 {

  @media (min-width: $screen-lg-min) {
    .product-list__product {
      width: 50%;
      padding: 0 $body-padding-h / 2;
    }
  }

  html:not(.flexbox) & {
    @include clearfix;
    @media (min-width: $screen-lg-min) {
      .product-list__product {
        float: left;
        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }
  }

  html.flexbox & {
    // lay it out with flex box instead
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-around);
  }

}