.product-list {
  text-align: center;
  @media (min-width: $screen-sm-min){
    text-align: left;
  }
}

.product-list__product {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

.product-list__product-img {
  width: 100%;
  margin-bottom: 30px;

  .product-list__product--sold-out & {
    opacity: 0.25;
  }
}

.product-list__product-info {
  text-align: center;
}

.product-list__product-info-link {

}

.product-list__product-title {
  font-weight: bold;
  letter-spacing: $letter-spacing-large;
}

.product-list__product-price {

}

.product-list__product-swatches {
  display: block;
  margin-top: 10px;
}

// Product list grid
.product-list--col-2,
.product-list--col-3 {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-around);
}

.product-list__product {
  @media (min-width: $screen-md-min) {
    .product-list--col-3 & {
      width: percentage(1/2);
      padding: 0 $body-padding-h / 2;
    }
  }

  @media (min-width: $screen-lg-min) {
    .product-list--col-2 & {
      width: percentage(1/2);
      padding: 0 $body-padding-h / 2;
    }

    .product-list--col-3 & {
      width: percentage(1/3);
      padding: 0 $body-padding-h / 2;
    }
  }
}
