.product-list {
  text-align: center;
  @media (min-width: $screen-xs-min){
    text-align: left;
  }
}

.product-list__product {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

.product-list__product-img {
  width: 100%;
  margin-bottom: 30px;
}

.product-list__product-info {
  @include clearfix;
}

.product-list__product-info-link {
  @media (min-width: $screen-sm-min){
    float: left;
  }
}

.product-list__product-title {
  font-weight: bold;
  letter-spacing: $letter-spacing-large;
}

.product-list__product-price {
}

.product-list__product-swatches {
  display: block;
  margin-top: 6px;

  @media (min-width: $screen-sm-min){
    float: right;
    margin: 0;
  }
  
}