.swatches {
  font-size: 0;
  padding: 0;
}

.swatch {
  display: inline-block;
  position: relative;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  border: 1px solid $body-bg;
  background: {
    size: cover;
    repeat: no-repeat;
  }

  @media (min-width: $screen-xs-min){
    &:last-child {
      margin-right: 0;
    }
  }

  &.swatch--white {
    background-color: white;
    border-color: darken(white, 15%);
  }
  &.swatch--black {
    background-color: #2E2E2E;
  }
  &.swatch--yellow {
    background-color: #DFCA2F;
  }
  &.swatch--red {
    background-color: #E31033;
  }
  &.swatch--blue {
    background-color: #046499;
  }
  &.swatch--navy {
    background-color: #182E54;
  }
  &.swatch--green {
    background-color: #30A532;
  }
}

.swatch__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
