/* ==========================================================================
  Shopping Cart Page
  ========================================================================== */

.cart-table {
  width: 100%;
  margin-bottom: 0;
  border: 0;
  display: table;
  border-collapse: collapse;

  thead {
    display: none;
  }

  td {
    border-bottom: 1px solid $text-color;
    border-top: 1px solid $text-color;
    padding: 20px 8px;
  
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      text-align: right;
    }
  }
}

// TR and child TDs
.cart-row {}

.cart-row__img {
  width: 80px;
  @media (min-width: $screen-xs-min) {
    width: 115px;
  }
}

.cart-row__item {
  h2 {
    margin: 0 0 5px;
    font-size: inherit;
    line-height: inherit;
  }
  .cart-row__item-remove {
    @media (min-width: $screen-xs-min){
      display: none;
    }
  }
}

.cart-row__price {}

.cart-row__qty {
  input {
    width: 35px;
    text-align: center;
    // Todo - Move this out 
    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  }
}

.cart-row__total {}

.cart-row__remove {
  @media (max-width: ($screen-xs-min - 1)){
    display: none;
  }
}

.cart-footer {
  @include clearfix;

  h2, h3 {
    font-size: inherit;
  }

  .button--checkout {
    display: inline-block;
    width: 100%;
    float: right;
    @media (min-width: 656px){
      width: auto;
    }
  }
}