// Home page gets full bleed bg and x+y center'd logo
.template-index {
  .header {
    display: none;
  }

  .main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }
}

.index-bg,
.index-stuff {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.index-bg {
  z-index: 1;
  background: {
    image: url('{{ "index-bg-default.jpg" | asset_url }}');
    position: center;
    size: cover;
  }
}

.index-stuff {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: inline-block;
    position: relative;
  }

  img {
    @include center-block;
    width: 450px;
    max-width: 100%;
    padding: 0 25px;
  }
}