/* ==========================================================================
  Product Detail Page
  ========================================================================== */

/* START Product Photos */
.product-photos {
  margin-bottom: 30px;
  @media (min-width: $screen-lg-min) {
    margin-bottom: 0;
  }
}

.product-photo__main {
  position: relative;
  border: 1px solid transparent;
  transition: border-color 100ms ease;

  &.is-zoomable {
    cursor: -webkit-zoom-in;
  }
  &.is-zoomed {
    border-color: darken($body-bg, 8%);
    cursor: -webkit-zoom-out;
  }
}

.product-photo-thumbs {
  margin: 25px 0;
  text-align: center;
}

.product-photo-thumb {
  width: 76px;
  border: 1px solid $gray-lighter;
  margin: 0 5px 10px;
  display: inline-block;
  cursor: pointer;

  a {
    display: block;
    padding: 3px;
  }
}

$product-blowup-dimension: 900px;

body.product-blowup-open {
  overflow: hidden;
}

.product-blowup {
  position: absolute;
  z-index: -$zindex-blowup;
  bottom: -5300px;
  left: 0;
  right: 0;
  background: $body-bg;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  cursor: pointer;
  transition: opacity 150ms ease-in-out, z-index 150ms step-end;

  &.is-active {
    z-index: $zindex-blowup;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 150ms ease-in-out, z-index 150ms step-start;
  }
}

.product-blowup__close {
  position: absolute;
  z-index: $zindex-blowup + 1;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  cursor: pointer;

  &:active,
  &:focus {
    color: $link-color;
  }
}

.product-blowup__image {
  position: absolute;
  width: $product-blowup-dimension;
  height: auto;
  left: 50%;
  top: 50%;
  margin-left: -($product-blowup-dimension / 2);
  margin-top: -($product-blowup-dimension / 2);
  max-width: none;
}

.product-blowup__scroll {
  position: relative;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: $product-blowup-dimension;
  height: $product-blowup-dimension;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

/* END Product Photos */

.product-details {
  @extend .sidebar;

  @include center-block;
  max-width: 400px;
  
  @media (min-width: $screen-lg-min){
    max-width: none;
    .single-option-selector,
    .button,
    .product-details__description {
      max-width: 250px;
    }
  }

}

/* Quickly hiding default variant drop-down when JavaScript is enabled */
/* See this: http://www.learningjquery.com/2008/10/1-way-to-avoid-the-flash-of-unstyled-content/ */
.js #product-select { display: none; }

/* Product option wrapper. */
.selector-wrapper {
  + .selector-wrapper {
    margin-top: 20px;
  }

  label {
    display: none; // extend sr-only?
  }
}

.product-details__title {
  margin: 0 0 5px;
  font-size: $font-size-base;
}

.product-details__price {
  margin-bottom: 30px;
}

.button--addtocart {
  @extend .button--block;
  margin: 30px 0;
}

.product-details__description {
  text-transform: none;
}