/* ==========================================================================
  Product Detail Page
  ========================================================================== */

/* START Product Photos */
.product-photos {
  margin-bottom: 30px;
  @media (min-width: $screen-lg-min) {
    margin-bottom: 0;
  }
}

.product-photo__main {
  position: relative;
  border: 1px solid transparent;
  transition: border-color 100ms ease;

  &.is-zoomable {
    cursor: -webkit-zoom-in;
  }
  &.is-zoomed {
    border-color: darken($body-bg, 8%);
    cursor: -webkit-zoom-out;
  }
}

.product-photo-thumbs {
  margin: 25px 0;
  text-align: center;
}

.product-photo-thumb {
  width: 76px;
  border: 1px solid $gray-lighter;
  margin: 0 5px 10px;
  display: inline-block;
  cursor: pointer;

  a {
    display: block;
    padding: 3px;
  }
}

$product-blowup-dimension: 1200px;

body.product-blowup-open {
  height: 100%;
  overflow: hidden;
}

.product-blowup {
  position: absolute;
  z-index: -$zindex-blowup;
  bottom: 0;
  left: 0;
  right: 0;
  background: $body-bg;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 150ms ease-in-out, z-index 150ms step-end;

  &.is-active {
    z-index: $zindex-blowup;
    opacity: 1;
    transition: opacity 150ms ease-in-out, z-index 150ms step-start;
  }
}

.product-blowup__close {
  position: absolute;
  z-index: $zindex-blowup + 1;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  cursor: pointer;
  text-shadow:  0px  2px 0px $body-bg, 
                0px -2px 0px $body-bg, 
                2px  0px 0px $body-bg, 
               -2px  0px 0px $body-bg;

  &:active,
  &:focus,
  &:hover {
    color: $link-color;
  }
}

.product-blowup__image {
  position: absolute;
  width: $product-blowup-dimension;
  height: auto;
  left: 50%;
  top: 50%;
  margin-left: -($product-blowup-dimension / 2);
  margin-top: -($product-blowup-dimension / 2);
  max-width: none;
}

.product-blowup__scroll {
  position: relative;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: $product-blowup-dimension;
  height: $product-blowup-dimension;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

/* END Product Photos */

/* START Product sidebar stuff */

.product-details,
.product-video {
  @extend .sidebar;
  @include center-block;
  max-width: 400px;
  @media (min-width: $screen-lg-min){
    max-width: none;
  }
}

.product-details {
  @media (min-width: $screen-lg-min){
    max-width: none;
    .single-option-selector,
    .button,
    .product-details__description {
      max-width: 250px;
    }
  }
}

.product-video {
  @extend .sidebar--left;
  @media (min-width: $screen-lg-min){
    .product-video__wrapper {
      max-width: 250px;
      margin-left: auto;
    }
  }
}

/* END Product sidebar stuff */

.size-guide-toggle {
  display: inline-block;
  margin: 20px 0 10px;
  &:active,
  &:focus {
    color: $text-color;
  }
}

// Match width with .product-details
.size-guide {
  width: 550px;
  max-width: 100%;
  font-size: $font-size-small;

  table {
    th, td {
      width: auto !important;
      height: auto !important;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.product-video__toggle {
  @media (min-width: $screen-lg-min){
    display: none;
  }
}

.product-video__ratio {
  // width: 100%;
  // height: 0;
  // padding-bottom: 39.7%;
  // max-width: 350px;
  // margin-right: 0;
  // margin-left: auto;
  // position: relative;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  display: none;
  @media (min-width: $screen-lg-min){
    display: block;
  }
  
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

/* Quickly hiding default variant drop-down when JavaScript is enabled */
/* See this: http://www.learningjquery.com/2008/10/1-way-to-avoid-the-flash-of-unstyled-content/ */
.js #product-select { display: none; }

/* Product option wrapper. */
.selector-wrapper {
  + .selector-wrapper {
    margin-top: 20px;
  }

  label {
    display: none; // extend sr-only?
    font-weight: normal; // in case we show the label
  }
}

.product-details__title {
  margin: 0 0 5px;
  font-size: $font-size-base;
}

.product-details__price {
  margin-bottom: 30px;
  
  .product-compare-price {
    padding-left: 5px;
    text-decoration: line-through;
  }
}

.button--addtocart {
  @extend .button--block;
  margin: 30px 0;
}

.product-details__description {
  text-transform: none;
  // Hide empty <p>'s to avoid weird spacing issues.
  // We do some string manipulation in the product template that might leave empty elements here
  p:empty {
    display: none;
  }
}
