{% if template.name == "index" or template.name == "collection" or template.name == "product" %}
  <div data-section-id="{{ section.id }}" data-section-type="ticker-section">
    {% if section.settings.text != blank %}
      {% comment %} We show the ticker via JS {% endcomment %}
      <div class="ticker ticker--{{ section.settings.style }}" style="display:none">
        <a href="#" class="ticker__close" title="Close">&times;</a>
        {{ section.settings.text }}
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Ticker",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "radio",
        "id" : "style",
        "label": "Style",
        "options": [
          { "value": "black", "label": "Black"},
          { "value": "outline", "label": "Outline"}
        ],
        "default": "black"
      }
    ]
  }
{% endschema %}