{% comment %}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.
{% endcomment %}

{% paginate collection.products by 10 %}

{% comment %}
  Re-use the .rte class wherever you output content that was added by a merchant using
  the Rich Text Editor ( 'rte' stands for rich text editor ).
  Style all HTML elements in that content the same way across the board.
  Use the .rte class in your CSS to help maintain consistency.
  Example: the h2 element should have the same size and color in:
  - product descriptions
  - collection descriptions
  - page content
  - blog post
{% endcomment %}
<div class="main-column">
  <h1 class="left">{{ collection.title }}</h1>

  {% if collection.description.size > 0 %}
  <div class="rte clearfix">
    {{ collection.description }}
  </div>
  {% endif %}

  <ul class="product-list">
  {% for product in collection.products %}
    {% include 'product-list-product' %}
  {% else %}
    <p>Nothing here - check back later</p>
  {% endfor %}
  </ul>

  {% if paginate.pages > 1 %}
  <div class="pagination centered">
    {{ paginate | default_pagination }}
  </div>
  {% endif %}

  {% endpaginate %}
</div>