{% comment %}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.
{% endcomment %}

{% paginate collection.products by 50 %}

<div class="main-column main-column--widest">

  {% unless collection.handle == 'all' %}
    <h1 class="collection-title">{{ collection.title }}</h1>
  {% endunless %}

  {% if collection.description.size > 0 %}
  <div class="collection-description">
    {{ collection.description }}
  </div>
  {% endif %}

  <ul class="product-list product-list--2x2">
  {% for product in collection.products %}
    {% include 'product-list-product' %}
  {% else %}
    <p class="text-center">Nothing here - check back later</p>
  {% endfor %}
  </ul>

  {% if paginate.pages > 1 %}
  <div class="pagination">
    {{ paginate | default_pagination: next: '»', previous: '«' }}
  </div>
  {% endif %}

</div>

{% endpaginate %}