<div class="main-column">
  {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
    {% assign collection = collections[settings.homepage_collection] %}
    {% paginate collection.products by 10 %}
    <ul class="product-list">
      {% for product in collection.products %}
        
        {% include 'product-list-product' %}

      {% else %}

        <p>Nothing here - check back later</p>
        
      {% endfor %}
    </ul>
    {% if paginate.pages > 1 %}
    <div class="pagination">
      {{ paginate | default_pagination: next: '»', previous: '«' }}
    </div>
    {% endif %}
    {% endpaginate %}
  {% endunless %}
</div>