{% comment %}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.
{% endcomment %}

<div class="main-column">

  {% assign collection = collections.all %}
  {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
  {% assign collection = collections[settings.homepage_collection] %}
  {% endunless %}

  {% paginate collection.products by 10 %}

    <ul class="product-list">
    {% for product in collection.products %}
      {% include 'product-list-product' %}
    {% else %}
      <p class="text-center">Nothing here - check back later</p>
    {% endfor %}
    </ul>

    {% if paginate.pages > 1 %}
    <div class="pagination">
      {{ paginate | default_pagination: next: '»', previous: '«' }}
    </div>
    {% endif %}

  {% endpaginate %}

</div>