{% capture bg_image %}
  {% if settings.index_bg_image != nil %}
    {{ settings.index_bg_image | img_url: '1200x' }}
  {% else %}
    {{ 'index-bg-default.jpg' | asset_url }}
  {% endif %}
{% endcapture %}

<div class="index-bg" style="background-image: url({{ bg_image | strip }})"></div>

<div class="index-stuff">
  <a href="/collections/all">
    <div class="click-shield"></div>
    <img src="{{ 'logo-white.png' | asset_url }}" />
  </a>
</div>