.sidebar-about-content {
  margin-top: 30px;
  &,
  .form-control {
    text-align: center;
  }
  .newsletter-subscribe-input-wrapper {
    position: relative;
    
    button[type="submit"] {
      @extend .btn-link;
      position: absolute;
      top: 3px;
      right: 3px;
      opacity: 0;
      font-size: 14px;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
  @media (min-width: $screen-lg-min){
    margin-top: 0;
    max-width: 350px;
    &,
    .form-control {
      text-align: left;
    }
  }
}