.sidebar-about-content {
  margin-top: 30px;
  &,
  .form-control {
    text-align: center;
  }
  @media (min-width: $screen-lg-min){
    margin-top: 0;
    max-width: 350px;
    &,
    .form-control {
      text-align: left;
    }
  }
}